<form (ngSubmit)="onSubmit()" [formGroup]="form" class="flex gap-2 flex-wrap justify-between">

  <div *ngFor="let control of controls" class="basis-[49%]">
    <div [ngSwitch]="control.type">


      <div *ngSwitchCase="'text'">
        <label [for]="control.key" class="form-label">{{ control.label }}
          @if (control.required) {
            <span class="text-red-500 text-sm">*</span>
          }
        </label>
        <input [formControlName]="control.key" [id]="control.key"
               [type]="control.type" class="form-input">
      </div>

      <div *ngSwitchCase="'email'">
        <label [for]="control.key" class="form-label">{{ control.label }}
          @if (control.required) {
            <span class="text-red-500 text-xs">*</span>
          }
        </label>
        <input [formControlName]="control.key" [id]="control.key"
               [type]="control.type" class="form-input">
      </div>

      <div *ngSwitchCase="'select'">
        <label [for]="control.key" class="form-label">{{ control.label }}
          @if (control.required) {
            <span class="text-red-500 text-sm">*</span>
          }
        </label>
        <select [formControlName]="control.key" [id]="control.key" class="form-input">
          <option *ngFor="let opt of control.options" [ngValue]="opt.key">{{ opt.value }}</option>
        </select>
      </div>
    </div>
  </div>
</form>
