<div class="flex min-h-screen flex-col">
  <div class="sticky top-0  w-full bg-blue-500 text-white flex items-center justify-center px-10 py-1 z-50">
    <a routerLink="/">Nome</a>
    <div class="flex-1"></div>
    <button (click)="logout()" aria-label="Example icon-button with menu icon" class="text-xs" mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>


  </div>

  <div class="flex flex-1 bg-gray-100">
    <div class="bg-white border border-gray-300 w-1/6 fixed h-full">
      <div class="p-10 flex flex-col gap-1 ">
        <div>
          <p class="font-bold">Workspace</p>
          <p class="text-gray-500">Manage part of organization</p>
        </div>
        @for (menu of [{ text: "Home", link: "/", icon: "home" },
          { text: "Employee", link: "/employees", icon: "group" }
        ]; track menu.text) {
          <app-items-menu [element]="menu"></app-items-menu>
        }
      </div>
    </div>
    <div class="basis-full h-full flex-1">
      <ng-content></ng-content>
      <router-outlet></router-outlet>
    </div>
  </div>


</div>

